.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

.logo {
  max-width: 8em;
}
.logo:hover {
  filter: drop-shadow(0 0 3em #F2CA50);
}

.input {
  width: 100%;
  box-sizing: border-box;
  max-width: 120px;
  height: 1.5em;
  font-size: 1.5em;
}

.result {
  display: flex;
  align-items: flex-end;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  max-width: 100px;
  white-space: nowrap;
}

.app-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text h1 {
  margin-bottom: 0.5em;
}

.text h4 {
  margin: 0.5em 0;
}

.text h2 {
  margin: 0.5em 0;
}
