.header {
  padding: 0.5em 0;
}

.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  margin: 0;
  padding: 0 0.5em;
  font-size: 1.5em;
  font-weight: bold; 
}

.language-switcher {
  display: flex;
  margin-right: 10px;
}

.lang-button {
  border: 0px solid #ccc;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 0 1px;
}

.lang-button.active {
  color: #F2CA50;
}
