.header {
  padding: 0.5em 0;
}

.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  margin: 0;
  padding: 0 0.5em;
  font-size: 1.5em;
  font-weight: bold; 
}

