:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-header {
  max-width: 1200px;
  margin: 0 auto;
}

.light-theme-app {
  background-color: #EBEDF2;
}

.dark-theme-app {
  background-color: #404040;
  color: #D9D9D9;
}

.light-theme-head {
  background-color: #7D848C;
}

.dark-theme-head {
  background-color: #262626;
  color: #D9D9D9;
}